body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

.car_img {
    transition: .3s;
    width: 100px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.car_img:hover {
    transform:rotate(360deg);
}